h1 {
    background-color: limegreen;
    margin-left: 50px;
    text-shadow: 2px 2px 3px rgba(225, 216, 216, 0.825);
}

h2 {
    color: white;
    background-color: black;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    -webkit-text-stroke: 1px gray;
}

h3 {
    background-color: lightgray;
    margin-left: 50px;
    margin-right: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

video {
    margin-left: 50px;
}

img {
    margin-left: 50px;
}

footer {
    color: black;
    background-color: limegreen;
    margin-left: 50px;
    -webkit-text-stroke: 1px black;
}